@import "assets/styles/_variables.scss";
@import "assets/styles/_buttons.scss";
@import "assets/styles/_typography.scss";

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-image: linear-gradient(#c94b4b, #4b134f);
    height: 100vh;
}

.toMorse {
    display: flex;
    justify-content: space-evenly;
}